{% trans_default_domain 'FOSUserBundle' %}
{##}{% extends "@MYUser/layoutconnexion.html.twig" %}
{% block container %}

    <div class="container">
        <p></p>
        <p></p>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


        {##}<div class="col-md-6 col-md-pull-6">


            <div class="form-group">
               {{ form_label(form.username)}}
                {{ form_widget(form.username , { 'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email , { 'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second , { 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <button type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-lg" >Inscription</button>
                <button type="reset"  class="btn btn-primary btn-lg" >Annuler</button>
            </div>

        </div>
    </div>
        {{ form_end(form) }}
    </div>

{% endblock %}